<div class="app-user-form app-theme">
  <div class="app-theme__header">
    <h3 class="app-content-header"
        *ngIf="isCreateMode">
      <ng-container *ngIf="!hasOnlyEmployeeRole; else adopter">
        {{ 'USERS.FORM.CREATE.HEADER' | transloco }}
      </ng-container>
      <ng-template #adopter>
        {{ 'USERS.FORM.CREATE.HEADER_ADOPTER' | transloco }}
      </ng-template>
    </h3>
    <h3 class="app-content-header"
        *ngIf="!isCreateMode">{{ 'USERS.FORM.EDIT.HEADER' | transloco }}</h3>
  </div>
  <form class="app-user-form__content app-theme__content"
        [formGroup]="formGroup"
        (ngSubmit)="save()">

    <div class="app-form-content">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.FIRST_NAME' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="firstName"
               formControlName="firstName">
        <mat-error>{{ formGroup.get('firstName').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.LAST_NAME' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="lastName"
               formControlName="lastName">
        <mat-error>{{ formGroup.get('lastName').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.EMAIL_ADDRESS' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="emailAddress"
               formControlName="emailAddress">
        <mat-error>{{ formGroup.get('emailAddress').errors | validation: 'USERS.FORM.ERRORS'  }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.PHONE_NUMBER' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="phoneNumber"
               formControlName="phoneNumber">
        <mat-error>{{ formGroup.get('phoneNumber').errors | validation: 'USERS.FORM.ERRORS' }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.PESEL' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="pesel"
               formControlName="pesel">
        <mat-error>{{ formGroup.get('pesel').errors | validation: 'USERS.FORM.ERRORS' }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.SEX' | transloco }}</mat-label>
        <mat-select formControlName="sex">
          <mat-option *ngFor="let sex of sexOptions"
                      [value]="sex">
            {{ 'USERS.SEX.' + sex | transloco }}
          </mat-option>
        </mat-select>
        <mat-error>{{ formGroup.get('sex').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="isCreateMode && hasOnlyAdminRole">
        <mat-label>{{ 'USERS.FORM.FIELDS.ROLE' | transloco }}</mat-label>
        <mat-select formControlName="roleId">
          <mat-option value="null">{{ 'COMMON.ROLE.USER' | transloco }}</mat-option>
          <mat-option *ngFor="let role of allRole$ | async"
                      [value]="role.id">
            {{ 'COMMON.ROLE.' + role.name.toUpperCase() | transloco }}
          </mat-option>
        </mat-select>
        <mat-error>{{ formGroup.get('sex').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="hasOnlyAdminRole && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.PASSWORD' | transloco }}</mat-label>
        <input matInput
               type="password"
               name="password"
               formControlName="password">
        <mat-error>{{ formGroup.get('password').errors | validation: 'USERS.FORM.ERRORS.PASSWORD' }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="anVetWasSelected && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.PWZ_NUMBER' | transloco }}</mat-label>
        <input matInput
               type="text"
               formControlName="PWZNumber">
        <mat-error>{{ formGroup.get('PWZNumber').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'USERS.FORM.FIELDS.ADDRESS' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="address"
               formControlName="address">
        <mat-error>{{ formGroup.get('address').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="(anEmployeeWasSelected || anVetWasSelected) && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.HIRE_DATE' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="hireDate"
               [disabled]="!isCreateMode"
               [matDatepicker]="hireDateDatePicker"
               readonly
               formControlName="hireDate">
        <mat-datepicker #hireDateDatePicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="hireDateDatePicker"></mat-datepicker-toggle>
        <mat-error>{{ formGroup.get('hireDate').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="anVolunteerWasSelected && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.JOINING_DATE' | transloco }}</mat-label>
        <input matInput
               type="text"
               [matDatepicker]="joiningDatePicker"
               readonly
               name="joiningDate"
               formControlName="joiningDate">
        <mat-datepicker #joiningDatePicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="joiningDatePicker"></mat-datepicker-toggle>
        <mat-error>{{ formGroup.get('joiningDate').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="anVolunteerWasSelected && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.ATTENDANCE' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="attendance"
               formControlName="attendance">
        <mat-error>{{ formGroup.get('attendance').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="(anEmployeeWasSelected || anVetWasSelected) && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.SALARY' | transloco }}</mat-label>
        <input matInput
               type="text"
               name="salary"
               formControlName="salary">
        <mat-error>{{ formGroup.get('salary').errors | validation }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline"
                      *ngIf="(anEmployeeWasSelected || anVetWasSelected) && isCreateMode">
        <mat-label>{{ 'USERS.FORM.FIELDS.QUIT_DATE' | transloco }}</mat-label>
        <input matInput
               type="text"
               [matDatepicker]="quitDatePicker"
               name="quitDate"
               readonly
               formControlName="quitDate">
        <mat-datepicker #quitDatePicker></mat-datepicker>
        <mat-datepicker-toggle matSuffix [for]="quitDatePicker"></mat-datepicker-toggle>
        <mat-error>{{ formGroup.get('quitDate').errors | validation }}</mat-error>
      </mat-form-field>
    </div>

    <app-chip-list *ngIf="anVetWasSelected"
                   [header]="'USERS.FORM.FIELDS.SPECIALTIES.HEADER' | transloco"
                   [notFound]="'USERS.FORM.FIELDS.SPECIALTIES.NOT_FOUND' | transloco"
                   [(data)]="vetSpecialties"
                   additionalField="obtainingDate"
                   [prefix]="'USERS.FORM.FIELDS.SPECIALTIES.PREFIX' | transloco"
                   translocoPrefix="USERS.FORM.FIELDS.SPECIALTIES.MODAL"
                   additionalType="date"
                   [canAdd]="hasAccessToAssignSpecialist"
                   [canRemove]="hasAccessToRemoveSpecialist"
                   (addItem)="addSpecialist($event)"
                   (remove)="removeSpecialty($event)"
                   [dictionaries$]="allSpecialty$"></app-chip-list>

    <app-chip-list *ngIf="!isCreateMode"
                   [header]="'USERS.FORM.FIELDS.ROLES.HEADER' | transloco"
                   [notFound]="'USERS.FORM.FIELDS.ROLES.NOT_FOUND' | transloco"
                   [(data)]="selectedRoles"
                   [canAdd]="true"
                   [canRemove]="!hasOnlyEmployeeRole && hasAccessToRemoveRole"
                   [addFnCallback]="redirectToAddRole"
                   (remove)="removeRole($event)"
                   [prefixLabel]="'COMMON.ROLE'"
                   translocoPrefix="USERS.FORM.FIELDS.ROLES.MODAL"
                   [dictionaries$]="allRole$"></app-chip-list>

    <div class="app-USERS-form__actions app-theme__actions">
      <button type="button"
              (click)="cancel()"
              mat-button
              color="warn">{{ 'USERS.FORM.COMMONS.CANCEL' | transloco }}</button>
      <button type="submit"
              mat-raised-button
              color="primary">{{ 'USERS.FORM.COMMONS.SAVE' | transloco }}</button>
    </div>
  </form>
</div>
