$shelter-font-weight-thin: 100;
$shelter-font-weight-light: 200;
$shelter-font-weight-book: 300;
$shelter-font-weight-regular: 400;
$shelter-font-weight-medium: 500;
$shelter-font-weight-semi-bold: 600;
$shelter-font-weight-bold: 700;
