/**
 * FONT WEIGHT
 */

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

/**
 * COLORS
 */

$light-primary-color: #9D87B8;
$primary-color: #795A9E;
$white-color: #fff;
$background-color: #EBEBEB;
$main-font-color: #363636;
$row-primary-color: #fff;
$row-secund-color: #F5F4F4;
