<div [formGroup]="formGroup"
     class="app-animal-form-general-info">
  <mat-form-field appearance="outline">
    <mat-label>Numer chipa</mat-label>
    <input matInput
           type="text"
           formControlName="chipNumber">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Numer schroniska</mat-label>
    <input matInput
           type="text"
           formControlName="shelterNumber">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Imie</mat-label>
    <input matInput
           type="text"
           formControlName="name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gatunek</mat-label>
    <input matInput
           type="text"
           formControlName="type">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data urodzenia</mat-label>
    <input matInput
           type="text"
           formControlName="birthDate">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Płeć</mat-label>
    <input matInput
           type="text"
           formControlName="sex">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Miejsce znalezenia</mat-label>
    <input matInput
           type="text"
           formControlName="foundPlace">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Data znalezenia</mat-label>
    <input matInput
           type="text"
           formControlName="foundDate">
  </mat-form-field>
</div>
