<div class="app-volunteer-details app-theme" *ngIf="data$ | async; let data">
  <div class="app-theme__header">
    <h3 class="app-content-header">{{ 'VOLUNTEER.DETAILS.HEADER' | transloco }}#{{data.id}}</h3>
  </div>
  <div class="app-volunteer-details__content app-theme__content">
    <div class="details app-employee-details-primary-data__details">
      <app-details-item [label]="'USERS.FORM.FIELDS.FIRST_NAME' | transloco"
                        [value]="data?.firstName"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.LAST_NAME' | transloco"
                        [value]="data?.lastName"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.PESEL' | transloco"
                        [value]="data?.pesel"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.SEX' | transloco"
                        [value]="'USERS.SEX.' + data?.sex | transloco"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.PHONE_NUMBER' | transloco"
                        [value]="data?.phoneNumber"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.EMAIL_ADDRESS' | transloco"
                        [value]="data?.emailAddress"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.JOINING_DATE' | transloco"
                        [value]="data?.joiningDate"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>
      <app-details-item [label]="'USERS.FORM.FIELDS.ATTENDANCE' | transloco"
                        [value]="data?.attendance"
                        class="app-employee-details-primary-data__item details__item"></app-details-item>

    </div>
  </div>
</div>
