@import "src/resources/styles/variables";

.app-list-table {
  &__cell {
    font-size: 1rem;
    font-weight: $font-weight-regular;
    color: $main-font-color;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    min-width: 120px;

    &--medium {
      font-weight: $font-weight-medium;
    }

    &--remove {
      min-width: 40px;
      width: 40px;
    }
    &--remove:last-of-type {
      padding-right: 10px;
    }
  }

  &:not(&--expandable) &__row {
    background-color: $row-primary-color;
    &:not(&--primary):nth-child(odd) {
      background-color: $row-secund-color;
    }
  }

  &--expandable &__row {
    transition: height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
    overflow: hidden;

    &--no-height {
      height: 0;
    }

    &--no-height, &--no-height td {
      border-bottom: 0;
    }

    &--expanded {
      background-color: $row-secund-color;
    }
  }

  &__expanded-detail {
    height: 0;
    min-height: 0;
    overflow: hidden;
    &--expanded {
      height: auto;
      min-height: auto;
    }
  }

  &__sort {
    display: grid;
    grid-template-rows: 20px 20px;
  }

  &__sort button, &__sort-icon {
    width: 20px;
    height: 20px;
  }

  &__sort-button {
    color: #c5c5c5;
    &--active {
      color: $primary-color;
    }
  }

  &__sort-icon {
    font-size: 20px;
    line-height: 0 !important;
  }
}
