<div class="app-login d-flex flex-column">
  <div class="app-login__logo">
    <app-logo size="big"></app-logo>
  </div>
  <form [formGroup]="formGroup"
        autocomplete="off"
        (ngSubmit)="submit()"
        class="app-login__form">

    <h1 class="app-login__header text-center">{{ 'AUTH.HEADER' | transloco }}</h1>

    <mat-form-field appearance="outline"
                    class="app-login__form-control">
      <mat-label>{{ 'AUTH.USERNAME' | transloco }}</mat-label>
      <input matInput
             type="text"
             formControlName="emailAddress">
    </mat-form-field>

    <mat-form-field appearance="outline"
                    class="app-login__form-control">
      <mat-label>{{ 'AUTH.PASSWORD' | transloco }}</mat-label>
      <input matInput
             formControlName="password"
             [type]="passwordVisibility ? 'text' : 'password'">
      <mat-icon matSuffix
                class="clickable input-icon"
                (click)="changePasswordVisibility()">{{ passwordVisibility ? 'visibility' : 'visibility_off' }}</mat-icon>
    </mat-form-field>

    <button mat-raised-button
            type="submit"
            class="app-login__button"
            color="primary">{{ 'AUTH.SUBMIT' | transloco }}</button>
  </form>
</div>
