.app-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__form {
    display: grid;
    grid-template-columns: minmax(200px, 300px);
  }

  &__button {
    max-width: 200px;
    margin: auto;
  }

  &__logo {
    margin-bottom: 20px;
  }
}
