<div class="app-animal-details app-theme">
  <div class="app-theme__header">
    <h3 class="app-content-header">{{ 'ANIMALS.DETAILS.HEADER' | transloco }} #{{ animalDetails?.data?.chipNumber }}</h3>
  </div>
  <div class="app-theme__content">
    <app-animal-details-primary-data [data]="animalDetails?.data"></app-animal-details-primary-data>
    <mat-tab-group animationDuration="0ms"
                   dynamicHeight="true"
                   class="app-animal-details__tabs">
      <mat-tab *ngIf="showAdoptions"
               [label]="'ANIMALS.DETAILS.TABS.ADOPTIONS' | transloco">
        <app-animal-details-adoptions [data]="animalDetails?.adoptions"></app-animal-details-adoptions>
      </mat-tab>
      <mat-tab *ngIf="showVetVisits"
               [label]="'ANIMALS.DETAILS.TABS.VET_VISITS' | transloco">
        <app-animal-details-vet-visits [data]="animalDetails?.vetVisits"></app-animal-details-vet-visits>
      </mat-tab>
    </mat-tab-group>
    <div class="app-animal-details__actions app-theme__actions app-theme__actions--end">
      <button type="button"
              *ngIf="hasAccessToRemove"
              mat-raised-button
              (click)="remove()"
              color="warn">{{ 'ANIMALS.DETAILS.REMOVE' | transloco }}</button>
      <button type="button"
              class="app-button app-button--edit"
              (click)="edit()"
              *ngIf="hasAccessToEdit"
              mat-raised-button>{{ 'ANIMALS.DETAILS.EDIT' | transloco }}</button>
      <button type="button"
              (click)="adopt()"
              *ngIf="hasAccessToAddAdoption && isAllowedAdopt"
              mat-raised-button
              color="primary">{{ 'ANIMALS.DETAILS.ADD_ADOPTION' | transloco }}</button>
    </div>
  </div>
</div>
